services:
    zookeeper:
        image: bitnami/zookeeper:latest
        ports:
            - "2181:2181"
        environment:
            - ALLOW_ANONYMOUS_LOGIN=yes
        networks:
            - kafka-network
    kafka:
        image: bitnami/kafka:latest
        ports:
            - "9092:9092"
        environment:
            - ALLOW_ANONYMOUS_LOGIN=yes
            - KAFKA_BROKER_ID=1
            - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
            - KAFKA_LISTENERS=INTERNAL://:9093,EXTERNAL://:9092
            - KAFKA_ADVERTISED_LISTENERS=INTERNAL://streams-kafka-1:9093,EXTERNAL://localhost:9092
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
            - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
        depends_on:
            - zookeeper
        networks:
            - kafka-network
networks:
    kafka-network:
        driver: bridge
